---
import type { CollectionTypes } from '@content/content.types';
import Docs from '@core/components/docs/docs.astro';
import Layout from '@core/layouts/layout.astro';
import WithSidebar from '@core/layouts/with-sidebar.astro';
import { ContentRoutes } from '@core/lib/routes';

export async function getStaticPaths() {
    const paths = ContentRoutes.routeGroups.flatMap(group => 
        group.routes.map(route => ({
            params: {
                group: group.group,
                type: route.route 
            }
        }))
    );

    return paths
}
const { group, type } = Astro.params
---
<Layout >
    <WithSidebar>
        <div
            class="flex w-full flex-col gap-16"
            slot="content"
        >
            <Docs className='w-full xl:w-3/4' collection={group as CollectionTypes} slug={type}/>
        </div>
    </WithSidebar>
</Layout>
