---
import Snippet from '@core/components/snippet/snippet.astro';
import Docs from '@core/components/ui/docs.astro';
import Layout from '@core/layouts/layout.astro';
import WithSidebar from '@core/layouts/with-sidebar.astro';
import { ContentRoutes } from '@core/lib/routes';

export async function getStaticPaths() {
    const paths = ContentRoutes.routeGroups.flatMap(group => 
        group.routes.map(route => ({
            params: {
                group: group.group,
                type: route.route 
            }
        }))
    );

    return paths
}
const { type } = Astro.params
---
<Layout >
    <main class="flex flex-col gap-16">
        <WithSidebar>
            <div
                class="flex-1 flex flex-col gap-16 max-w-full p-4"
                slot="content"
            >
                <div class="flex w-full flex-col gap-16">
                    <h1 class="text-5xl uppercase">{type}</h1>
                    <Docs collection='sidebar' slug='default'></Docs> 
                </div>
            </div>
        </WithSidebar>
    </main>
</Layout>

<style>

</style>
