---
import { NavbarRoutes } from "@core/lib/routes";
import { padNumber } from "@core/lib/utils";
const currentPath = Astro.url.pathname;
---

<nav class="fixed w-full h-20 flex items-center justify-between z-10 bg-background">
    <div class="h-full px-8 items-center uppercase flex text-xl ">
        <h1 class="logo">CLEAN—UI</h1>
    </div>
	
    <div class="w-3/4 flex px-8 gap-8 xl:gap-16 justify-end h-full">
        {
            NavbarRoutes.map((routes,i) =>{ 
                const isActive = routes.route.includes(currentPath);
                return(
                    <a href={isActive ? "#" : routes.route[0]} class={`uppercase cursor-pointer hover:underline underline-offset-4 flex text-nowrap items-center text-xl `}>
                        <p>{routes.name}</p>
                        <p class="">—{padNumber(i+1)}</p>
                    </a>
            )})
        }
    </div>
</nav>
