---
import Layout from "@core/layouts/layout.astro"
import Separator from "@core/components/ui/separator.astro"
import { ContentRoutes } from "@core/lib/routes"
import { heading } from "@core/contents/index/header.json"
import { splitText } from "@core/lib/utils/index"

const headingLine1 = splitText({
	text: heading[0]
})
const headingLine2 = splitText({
	text: heading[1]
})
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-16">
		
	</main>
</Layout>

<script>
	
</script>