---
import Layout from '@core/layouts/layout.astro';
import WithSidebar from '@core/layouts/with-sidebar.astro';
import {SidebarAstro} from '@core/components/sidebar';
import {ContentRoutes} from '@core/lib/routes';
import Snippet from '@core/components/snippet/snippet.astro';



---

<Layout title="clean-ui">
	<main class="flex flex-col gap-16">
		<WithSidebar>
			<div slot="sidebar">
				<SidebarAstro client:idle>
					<SidebarAstro.Items>
						{
							ContentRoutes.routes.map((route, index) => (
								<SidebarAstro.Item
									client:idle
									index={index}
									className="uppercase"
								>
									{route.name}
								</SidebarAstro.Item>
							))
						}
					</SidebarAstro.Items>
				</SidebarAstro>
			</div>
			<div
				class="flex-1 flex flex-col gap-16 max-w-full p-4"
				slot="content"
			>
				<div class="flex w-full flex-col">
					<Snippet 
						collection='sidebar'
						slug="default"
					/>
				</div>
				
			</div>
		</WithSidebar>
	</main>
</Layout>
