---
import Layout from "@core/layouts/layout.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="h-72 w-fit justify-center items-start flex flex-col">
			<h1 class="text-5xl leading-[3.5rem]">Curated collections of pristine CLEAN—UI components</h1>
			<h1 class="text-5xl leading-[3.5rem]">Elegantly designed, each offers a unique aesthetic.</h1>
		</section>	


		<p class="text-3xl">Table of contents</p>
	</main>
</Layout>
