---
import Layout from "@core/layouts/layout.astro"
import Separator from "@core/components/ui/separator.astro"
import { ContentRoutes } from "@core/lib/routes"
import { heading } from "@core/contents/index/header.json"
import { splitText } from "@core/lib/utils/index"

const headingLine1 = splitText({
	text: heading[0]
})
const headingLine2 = splitText({
	text: heading[1]
})
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-16">
		<section class="[&>h1]:'text-3xl xl:text-5xl xl:leading-[3.5rem]' h-64 w-fit gap-2 justify-center items-start flex flex-col">
			<div class="flex gap-3">
				{headingLine1.map((word)=>{
					return(
						<h1 class="staggerText">{word}</h1>
					)
				})}
			</div>	
			<div class="flex gap-3">
				{headingLine2.map((word)=>{
					return(
						<h1 class="staggerText">{word}</h1>
					)
				})}
			</div>	
		</section>	


		<section class="h-3/4 flex flex-col gap-8">
			<div class="flex flex-col gap-4">
				<p class="text-3xl xl:text-5xl font-jha">Table of Contents</p>
			</div>	
			<div class="flex flex-col gap-4">
				{
					ContentRoutes.map((routes, i)=>(
						<Fragment key={i}>
							<div class="flex uppercase text-xl ">
								<p>{routes.name}</p>
								<p>—12</p>
							</div>	
							<Separator/>
						</Fragment>
					))
				}	
			</div>
		</section>
	</main>
</Layout>

<script>
	import { waveEffect } from "@core/lib/animations";

	document.addEventListener('DOMContentLoaded', () => {
		waveEffect({
			className: "staggerText",
			timing: 0.02,
			duration: 0.8,
		})
	});
</script>