---
import { cleanUiHighlighter } from "@core/lib/themes";
import { cn } from "@core/lib/utils";

type Props = {
  code: string,
  lang?: string,
  theme?: string,
  className?: string
}

const {
  code,
  lang="typescript", 
  theme="clean-ui",
  className
} = Astro.props

const highlighter = cleanUiHighlighter;
const html = highlighter.codeToHtml(code, {
  lang,
  theme,
});


---
<div class={cn("code-container", className)}>
  <Fragment
    class="w-full"
    set:html={html}
  />
</div>

<style is:global>
	.code-container pre {
		white-space: pre-wrap; 
		word-break: break-word; 
		width: 100%;
		box-sizing: border-box; 
	}

	.code-container code {
		display: block;
		white-space: pre-wrap; 
		word-break: break-word;
		color: inherit;
}
</style>
