---
import { cleanUiHighlighter } from "@core/lib/themes";
import { cn } from "@core/lib/utils";

type Props = {
  filename?: string,
  code: string,
  lang?: string,
  theme?: string,
  className?: string
}

const {
  code,
  filename,
  lang="typescript", 
  theme="clean-ui",
  className
} = Astro.props

const highlighter = cleanUiHighlighter;
const html = highlighter.codeToHtml(code, {
  lang,
  theme,
});


---
<div class={cn("code-container rounded-lg overflow-clip bg-white ", className)}>
  <div class="w-full py-4 text-sm px-8 text-gray-600 flex items-center justify-start font-mono">
    {filename} - {lang}
  </div>
  <div class="p-8 pt-4">
      <Fragment
      class="w-full"
      set:html={html}
    />
  </div> 
</div>

<style is:global>
	.code-container pre {
		white-space: pre-wrap; 
		word-break: break-word; 
		width: 100%;
		box-sizing: border-box; 
	}

	.code-container code {
		display: block;
		white-space: pre-wrap; 
		word-break: break-word;
		color: inherit;
    font-size: 14px;
}
</style>
