---
import { cleanUiHighlighter } from "@core/lib/themes";
import {getEntry} from 'astro:content';
import type {CollectionTypes} from "@content/content.types"
import { cn } from "@core/lib/utils";

type Props = {
    collection: CollectionTypes
    slug: string
    lang?: string,
    theme?: string,
	className?: string
}

const {
    collection, 
    slug,
    lang="typescript", 
    theme="clean-ui",
	className
} = Astro.props

const defaultSidebar = await getEntry(collection, slug);

if(!defaultSidebar) throw new Error("Collection is undefined")

const html = cleanUiHighlighter.codeToHtml(defaultSidebar.body, {
	lang,
	theme,
});

---
<div class={cn("code-container", className)}>
    <div
        class="w-full"
        set:html={html}
    />
</div>

<style is:global>
	.code-container pre {
		white-space: pre-wrap; 
		word-break: break-word; 
		width: 100%;
		box-sizing: border-box; 
	}

	.code-container code {
		display: block;
		white-space: pre-wrap; 
		word-break: break-word;
		color: inherit;
	}