---
import { CleanSidebar } from '@core/components/sidebar/clean-sidebar';

type Props = {};

const currentPath = Astro.url.pathname;
---

<div class="w-full h-full flex gap-4">
    <aside class="w-80 flex-shrink-0 h-[90vh]">
        <CleanSidebar currentPath={currentPath} client:load />
    </aside>
    <div class="flex-1 min-h-[90vh] h-fit">
        <slot name="content" />
    </div>
</div>
